*{
   margin: 0;
   padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: bisque;

}

.container{
    padding: 35px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    width: 270px;
}
h1{
    text-align: center;
    color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
p{
    text-align: center;
    color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    
}

input{
    height: 80px;
    width: 270px;
    font-size: 50px;
    text-align: end;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 68px);
    grid-column: span 4;
}

button{
    height: 60px;
    width: 60px;
    background-color: #16252e;
    color: #f2f2f2;
    font-size: 1.6em;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
    
}
button:hover{
    background-color: yellow;
    color: #000;
}

button:active{
    height: 55px;
    width: 55px;
    background-color: #fff;
    color: #000;
}

.color1{
    background-color: orange;
    color: #000;
}

.color2{
    background-color: #f9f9f9;
    color: #000;
}
